# Save as ".env" and embed your Vanta client ID and secret for both build and manage environments.
# This can be found in Vanta under Settings -> Developer console.
# These values are used to authenticate with the Vanta API.

BUILD_VANTA_CLIENT_ID = "test_123"
BUILD_VANTA_CLIENT_SECRET = "test_456"

MANAGE_VANTA_CLIENT_ID = "test_789"
MANAGE_VANTA_CLIENT_SECRET = "test_012"